@font-face {
  font-family:"SF Pro Display";
  src:url("../fonts/SFProDisplay-Regular.woff");
  src:local("â˜º"),
      url("../fonts/SFProDisplay-Regular.woff")
      format("woff"),
      url("../fonts/SFProDisplay-Regular.ttf")
      format("truetype"),
      url("../fonts/SFProDisplay-Regular.svg")
      format("svg");
  font-weight:400;
  font-style:normal;
}

@font-face {
  font-family:"SF Pro Display";
  src:url("../fonts/SFProDisplay-Medium.woff");
  src:local("â˜º"),
  url("../fonts/SFProDisplay-Medium.woff");
format("woff");
  font-weight:500;
  font-style:normal;
}

@font-face {
  font-family:"SF Pro Display";
  src:url("../fonts/SFProDisplay-Bold.woff");
  src:local("â˜º"),
  url("../fonts/SFProDisplay-Bold.woff");
format("woff");
  font-weight:700;
  font-style:normal;
}

@font-face {
  font-family:"SF Pro Display";
  src:url("../fonts/SFProDisplay-Heavy.woff");
  src:local("â˜º"),
  url("../fonts/SFProDisplay-Heavy.woff");
format("woff");
  font-weight:800;
  font-style:normal;
}

@font-face {
  font-family:"SF Pro Display";
  src:url("../fonts/SFProDisplay-Black.woff");
  src:local("â˜º"),
  url("../fonts/SFProDisplay-Black.woff");
  format("woff");
  font-weight:900;
  font-style:normal;
}

* {
  font-family: 'SF Pro Display', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

html {
  scroll-behavior: smooth;
}

:root {
  --white: #fff;
  --white-hover: rgb(238, 237, 237);
  --black: #000;
  --black-hover: rgb(31, 31, 31);
  --text1: #222222;
  --text1-hover: #3f3f3f;
  --main1: #8BC23B;
  --main1-hover: #80b137;
  --main2: #8BC926;
  --main2-hover: #80b137;
}

:hover {
  transition: 0.3s;
}

section {
  padding: 60px 0;
}

section .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section-header {
  padding: 9px 0;
  border-bottom: 1px solid var(--main1);
}

.lock {
  overflow: hidden;
}

.container-std {
  max-width: 1075px;
  margin: 0 auto;
}

/* Standard text */
.title1 {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 135%;
  letter-spacing: 0.02em;
  margin: 0;
}

.title2 {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 135%;
  letter-spacing: 0.02em;
  margin: 0;
}

.text-medium1 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
}

.text-underline {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.text-green-1 {
  color: var(--main1);
}

.link-more-detailed {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  color: var(--main1);
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 11px;
}
.link-more-detailed:hover {
  color: var(--main1);
}


/* Standard text end*/


/* Standard buttons */
.btn1 {
  background: var(--main1);
  border-radius: 10px;
  color: var(--white);
  padding: 14px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.btn1:hover {
  background: var(--main1-hover);
}
/* Standard buttons end */

/* Stantard Page style */
.page {
  padding: 30px 0;
}

.page .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.page-header {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.page-path {
  margin-bottom: 30px;
}

.page-path {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.page-path-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: var(--black);
}

.page-path-link:hover {
  color: var(--black);
}

.page-path-link.path-active {
  color: var(--main-color-1);
}

.page-path li:not(:last-child) .page-path-link:after {
  position: relative;
  content: "";
  margin: 0 15px 0 10px;
  width: 7px;
  height: 10px;
  background: url(../img/icons/ic-path-arrow.svg) no-repeat 50%/contain;
  display: inline-block;
}

.page-path-link.isActive {
  color: var(--main1);
}

.page-title h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 135%;
  letter-spacing: 0.02em;
  color: var(--text1);
  margin: 0;
}

.page-pag {
  display: flex;
  padding: 5px 14px;
  gap: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  background: #FAFAFA;
  width: fit-content;
}

.page-pag-left-btn,
.page-pag-right-btn {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.page-pag-left-btn:hover,
.page-pag-right-btn:hover {
  background: #DBDBDB;
}

.page-pag-body {
  display: flex;
  gap: 5px;
}

.page-page-number {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #9C9C9C;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.page-page-number:hover {
  background: #DBDBDB;
  color: #9C9C9C;
}

.page-page-number.isActive {
  background: var(--main1);
  color: var(--text1);
}


@media (max-width: 1400px) {
  .container-std {
    max-width: 900px;
    margin: 0 auto;
  }
}
@media (max-width: 1200) {

}
@media (max-width: 1024) {

}
@media (max-width: 991px) {
  .container-std {
    max-width: 700px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) { 
  .container-std {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .text-medium1 {
    font-size: 14px;
    line-height: 120%;
  }
  section {
    padding: 30px 0;
  }
  .title1  {
    font-size: 28px;
  }
  .title2  {
    font-size: 23px;
  }
  .page-header {
    gap: 20px;
  }
  .page .container {
    gap: 20px;
  }
  .page-title h1 {
    font-size: 28px;
    line-height: 120%;
  }
  .container-std {
    max-width:400px;
    margin: 0 auto;
  }
}

@media (max-width: 450px) {
  .container-std {
    max-width:400px;
    margin: 0 auto;
  }
}
@media (max-width: 400px) {
  .container-std {
    max-width:350px;
    margin: 0 auto;
  }
}
@media (max-width: 350px) {
  .container-std {
    max-width:300px;
    margin: 0 auto;
  }
}
@media (max-width: 320px) {
  
}